# Custom Project Ignore

# Python / Django
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/chroma_db/
backend/media/

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# System Files
.DS_Store
Thumbs.db
